# Unsupervised Learning Predict Student Solution

Â© Explore Data Science Academy

---
### Honour Code

I {**Kobus Le Roux, Devon Woodman, Nhlanhla Mthembu, Koketso Maraba, Tebogo Khoza, Mxolisi Zulu, Cara Brits**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Movie Recommendation

__UPDATE ME__

### Problem Statement

__UPDATE ME__

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Conclusions</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

Let's start by turning off unnecessary warnings in the code, to improve the aesthetics of our notebook:

In [1]:
# Turning off unnecessary warnings
import warnings
warnings.filterwarnings('ignore')

First, we include a list of uncommon packages that may need to be installed on your system. Uncomment and run the following if you need some of the packages listed:

In [350]:
# !pip install wordcloud
# !pip install contractions
# !pip install catboost
# !pip install xgboost
# !pip install comet_ml
# !pip install emoji

Next, we import all necessary modules:

In [2]:
'''THIS IS JUST A TEMPLATE OF THE IMPORT CELL'''

# Libraries for Data Loading and Manipulation
import pandas as pd  # Pandas provides flexible data structures to manipulate structured data.
import numpy as np  # Numpy offers powerful data structures and tools for numerical computation.

# # Text Processing Libraries
# import contractions  # Contractions is used to handle English contractions, converting them into their longer forms.
# import emoji  # Emoji allows easy manipulation and analysis of emojis in the text.
# from nltk.corpus import stopwords  # Stopwords module provides a list of common words to be removed from the text.
# from nltk.stem import WordNetLemmatizer  # WordNetLemmatizer is used for lemmatizing words, bringing them to their root form.
# from nltk import download as nltk_download  # For downloading nltk packages, here 'wordnet'.
# import regex  # Regex is used for regular expression matching and manipulation.
# import string  # Provides constants and classes for string manipulation.
# import re # Provides common string operations
# import unicodedata  # Provides access to the Unicode Character Database for processing Unicode characters.

# #Data monitoring Libraries:
# from comet_ml import Experiment  # Allows developers to track, compare, explain and optimize experiments and models.

# # Machine Learning Libraries
# from catboost import CatBoostClassifier  # High-performance gradient boosting on decision trees library.
# from scipy.sparse import hstack  # Used for stacking sparse matrices horizontally.
# from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer  # Transforms text into feature vectors for machine learning.
# from sklearn.metrics import classification_report, f1_score, precision_score, recall_score, confusion_matrix  # Metrics for evaluating machine learning models.
# from sklearn.model_selection import train_test_split, GridSearchCV  # Provides utilities to split data and tune hyperparameters.
# from sklearn.naive_bayes import GaussianNB, MultinomialNB  # Naive Bayes classifiers for machine learning.
# from sklearn.linear_model import LogisticRegression # Logistic Regression classifier for machine learning.
# from sklearn.tree import DecisionTreeClassifier # Decision Tree classifier for machine learning.
# from sklearn.ensemble import RandomForestClassifier # Random Forrest classifier for machine learning
# from sklearn.svm import LinearSVC, SVC  # Support Vector Machine classifiers.
# from xgboost import XGBClassifier  # XGBoost is an efficient and flexible gradient boosting library.
# import tensorflow as tf # For use in Neural Net
# from tensorflow.keras.layers import Dense # For building neural net 
# from tensorflow.keras.models import Sequential # For building neural net 
# from tensorflow.keras import utils, backend as K # For neural net add ons 

# # Feature selection Libraries:
# from sklearn.feature_selection import SelectKBest # To reduce features
# from sklearn.feature_selection import chi2 # Used to estimate which features is most impactful

# # Data Visualization Libraries
# import matplotlib.pyplot as plt  # Provides a way to visualize data (plotting, charts, etc.).
# import seaborn as sns  # Provides a high-level interface for attractive, informative statistical graphics.
# from sklearn.metrics import ConfusionMatrixDisplay # To visualize confusion matirces
# from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator  # Wordcloud is used to visualize word frequency in the text.
# sns.set_theme(style="whitegrid")  # Sets the style for seaborn plots.

# # Utility Libraries
# import pickle # For saving models to file
# from sklearn.utils import resample # For resampling unbalanced data
# from imblearn.combine import SMOTETomek


# # Downloading necessary NLTK corpus
# nltk_download('wordnet')

# Global Constants for reproducibility and consistency
TRAIN_TEST_SPLIT_VAR = 0.2
RAND_STATE = 42
# MAX_TEXT_FEATURES = 50000 # For all algorithms with exception to those listed below
# RAD_SVC_Text_Features = 3000 # Specifically for use in radial svc
# NN_Text_Features = 5000 #Specifically for use of neural net
# XGB_Text_Features = 3000 # Specifically for use in XGBoost algorithm
# RESAMPLE_ENTRY_AMOUNT = 4500 # If resampling, how many entries per category (Between 1000 and 6000)
# VEC_MIN_WORD_TO_REMOVE = 1 # Remove words that occurs less that this value in dataset 


# Flags for notebook Execution
COMET_FLAG = False # To gauge wether to commit experiments to Comet ML
# VECTORIZER_TO_USE = "tfidf" # Chooses between TfIDF vectorizer or count Vectorizer - accepted values are "tfidf" or "count"
# RESAMPLE = False # Whether to resample training data
# REMOVE_OVERUSED_WORDS = False # Wether to remove non-class specific words that occurs a lot

# Comet variables for logging experiments
COMET_API_KEY = "###########"
COMET_PROJECT_NAME = "########"
COMET_WORKSPACE = "#########"


# # Select which models to tune hyperparameters on
# HYPERPARAM_TO_Tune = {
#     "Logistic Regression" : False,
#     "Decision Tree": False,
#     "Random Forrest": False,
#     "Linear Support Vector": False,
#     "Radial Support Vector": False,
#     "Gaussian Naive Bayes": False,
#     "Multinomial Naive Bayes": False,
#     "CatBoost": False,
#     "XGBoost": False
# }

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kobus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

The dataset available for this task comprises of millions of 5-star ratings provided by users of the online movie recommendation service, MovieLens. The MovieLens dataset has been extensively utilized by both industry and academic researchers to enhance the effectiveness of recommender systems that rely on explicit feedback. For this specific recommender model, we will be utilizing a modified edition of the MovieLens dataset that includes supplementary data and has been resampled. This modification aims to enrich the dataset and enable a more equitable assessment of the predictions made.

Since this dataset is extremely large, it will not be included in the GitHub repository along with this notebook, but can be downloaded from [here](https://www.kaggle.com/competitions/edsa-movie-recommendation-predict/data). The dataset consists of 8 files, each of which will be described below:

First up is the `genome_scores.csv` and `genome_tags.csv` files. The tag genome represents the degree to which movies possess specific characteristics indicated by tags, such as being atmospheric, thought-provoking, or realistic, among others. This tag genome was generated through a machine learning algorithm that processed user-contributed content, including tags, ratings, and textual reviews. By analyzing this content, the algorithm determined the associations between tags and movie properties, providing a comprehensive understanding of the attributes expressed by different films.

The `genome_scores.csv` file contains a score mapping the strength between movies and tag-related properties in the following format:

```csv
movieId,tagId,relevance
```
Here:

* __movieID__ contains the  movie identification number for our data
* __tagID__ contains the unique identification number for each tag present within the dataset
* __relevance__ contains a score between $0$ and $1$ representing how strongly movies exhibit particular properties represented by tag in question

In [3]:
# Reading data from the genome_scores.csv file and displaying format of the dataframe:
genome_scores_df = pd.read_csv("genome_scores.csv")
genome_scores_df.head(10)

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075
5        1      6    0.14675
6        1      7    0.06350
7        1      8    0.20375
8        1      9    0.20200
9        1     10    0.03075

The `genome_tags.csv` file provides the tag descriptions for the tag IDs in the genome file, in the following format:
```csv
tagId,tag
```

Here:

* __tagID__ contains the unique identification number for each tag present within the dataset
* __tag__ contains the text description of the tag in question

In [4]:
# Reading data from the genome_tags.csv file and displaying format of the dataframe:
genome_tags_df = pd.read_csv("genome_tags.csv")
genome_tags_df.head(10)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
5      6         1950s
6      7         1960s
7      8         1970s
8      9         1980s
9     10  19th century

Next up is the `imdb_data.csv` file, which contains additional movie metedata scraped from IMDB in the following format:
```csv
movieId, title_cast, director, runtime, budget, plot_keywords
```
Here:
* __movieID__ contains the  movie identification number for our data
* __title_cast__ contains the actors cast within the move, seperated by *|*
* __director__ contains the name of the movie director
* __runtime__ contains the movie runtime in minutes
* __budget__ contains the movie budget in USD ($)
* __plot_keywords__ containd keywords describing the plot, seperated by *|*

In [5]:
# Reading data from the imdb_data.csv file and displaying format of the dataframe:
imdb_data_df = pd.read_csv("imdb_data.csv")
imdb_data_df.head(10)

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion
5,6,Al Pacino|Robert De Niro|Val Kilmer|Jon Voight...,Michael Mann,170.0,"$60,000,000",gun battle|organized crime|honor|criminal inve...
6,7,Harrison Ford|Julia Ormond|Greg Kinnear|Nancy ...,Samuel A. Taylor,127.0,"$58,000,000",character name as title|chauffeur|estate|playboy
7,8,Jonathan Taylor Thomas|Brad Renfro|Eric Schwei...,Mark Twain,97.0,NaN,rescue from drowning|near drowning|character n...
8,9,Jean-Claude Van Damme|Powers Boothe|Raymond J....,Karen Elise Baldwin,111.0,"$35,000,000",hockey|death in title|two word title|terrorist
9,10,Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...,Ian Fleming,130.0,"$60,000,000",official james bond series|james bond characte...

We also have the `links.csv` file, which contain identifiers that can be used to link to other sources of movie data from different sources. It is in the format

```csv
movieId,imdbId,tmdbId
```

Here:
* __movieID__ contains the identifier used by [*MovieLens*](https://movielens.org)
* __imdbID__ contains the identifier used by [*IMBD*](http://www.imdb.com)
* __tmdb__ contains the identifier used by [*The Movie Data Base*](https://www.themoviedb.org)

In [6]:
# Reading data from the links.csv file and displaying format of the dataframe:
links_df = pd.read_csv("links.csv")
links_df.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

The `movies.csv` file contains movie information in the following format:

```csv
movieId,title,genres
```

Here:
* __movieID__ contains the unique movie ID number
* __title__ contains the movie title and the year of release in parenthesis (might contain some errors)
* __genres__ contains a pipe separated list of applicable genres for the movie

The list of available genres are selected from the following:

* Action
* Adventure
* Animation
* Children's
* Comedy
* Crime
* Documentary
* Drama
* Fantasy
* Film-Noir
* Horror
* Musical
* Mystery
* Romance
* Sci-Fi
* Thriller
* War
* Western
* (no genres listed)

In [7]:
# Reading data from the movies.csv file and displaying format of the dataframe:
movies_df = pd.read_csv("movies.csv")
movies_df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

We also have access to the `tags.csv` file. Each line of this file after the header row represents one tag applied to one movie by one user, and has the following format:

```csv
userId,movieId,tag,timestamp
```
The lines within this file are ordered first by userId, then, within user, by movieId. Tags are user-generated metadata about movies. Each tag is typically a single word or short phrase. The meaning, value, and purpose of a particular tag is determined by each user.

Here:
* __userID__ contains the specific identification number for each user
* __movieID__ contains the unique identification number for each movie
* __tag__ contains the user generated tag for the movie
* __timestamp__ represents seconds since midnight Coordinated Universal Time (UTC) of *January 1, 1970*

In [8]:
# Reading data from the tags.csv file and displaying format of the dataframe:
tags_df = pd.read_csv("tags.csv")
tags_df.head(10)

   userId  movieId                      tag   timestamp
0       3      260                  classic  1439472355
1       3      260                   sci-fi  1439472256
2       4     1732              dark comedy  1573943598
3       4     1732           great dialogue  1573943604
4       4     7569         so bad it's good  1573943455
5       4    44665     unreliable narrators  1573943619
6       4   115569                    tense  1573943077
7       4   115713  artificial intelligence  1573942979
8       4   115713            philosophical  1573943033
9       4   115713                    tense  1573943042

Lastly, we have our `test.csv` and `train.csv` datafiles. These datafiles represents the respective testing and training splits of the dataset. 

The file `train.csv` contains user and movie ID's along with the associated rating data in the format:
```csv
userId,movieId,rating,timestamp
```

Here:
* __userID__ represents the unique number identifying each user
* __movieID__ represents the unique number identifying each user
* __rating__ represents a score out of 5 given to each movie by each user. Ratings are made on a 5-star scale, with half-star increments (0.5 stars - 5.0 stars)
* __timestamp__ represents the seconds since midnight Coordinated Universal Time (UTC) of *January 1, 1970*

In [9]:
# Reading data from the train.csv file and displaying format of the dataframe:
train_df = pd.read_csv("train.csv")
train_df.head(10)

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837
5  120949    81768     3.0  1289595242
6   19630    62049     4.0  1246729817
7   21066     2282     1.0   945785907
8  117563   120474     4.0  1515108225
9  144018     1997     5.0  1109967647

The `test.csv` file is similar to that of `train.csv`, but the rating data and timestamp is omitted. Therefore it has the structure
```csv
userId,movieId
```

These columns represent the same variables described for `train.csv` above

In [10]:
# Reading data from the test.csv file and displaying format of the dataframe:
test_df = pd.read_csv("test.csv")
test_df.head(10)

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318
5       1     8405
6       1     8786
7       2      150
8       2      356
9       2      497

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

Before we can jump in and construct models for the data, it is important to investigate and understand the features present within the dataset

<a id="four"></a>
## 4. Data Engineering and NLP Preprocessing
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

To capture all the preprocessing happening within the data, we start a comet experiment:

In [384]:
if COMET_FLAG:
  # Start comet experiment:
  experiment = Experiment(
    api_key = COMET_API_KEY,
    project_name = COMET_PROJECT_NAME,
    workspace= COMET_WORKSPACE
  )

  experiment.add_tag("Data Preprocessing")
  experiment.set_name("Data Preprocessing")

We first begin by reloading the data and discarding the changes made during the EDA section:

Ending the comet experiment for data preprocessing:

In [414]:
if COMET_FLAG:
    experiment.end()

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

### 5.1 Logistic regression

Logistic regression is a classification algorithm used to predict the probability of a binary outcome based on one or more input features. It models the relationship between the input variables and the probability of the outcome belonging to a particular class. Logistic regression uses the logistic function (also known as the sigmoid function) to map the output of a linear combination of the input features to a value between 0 and 1, representing the probability of belonging to the positive class.
In simpler terms, logistic regression aims to find the best-fitting S-shaped curve that separates the two classes. It estimates the coefficients (weights) of the input features through a process called maximum likelihood estimation, optimizing the parameters to maximize the likelihood of the observed data.

Once trained, logistic regression can make predictions by calculating the probability of the positive class based on the input features. A threshold is then applied to determine the final predicted class.

Logistic regression models are known for their simplicity and interpetability. Since they are more simplistic models, they are relatively quick to train and computationally efficient. They can also be expanded to handle multiclass classification as is the case for our data. This model does assume a linear relationship between the features and the log-odds of the outcome, however, which does not necessarily hold true in many cases. It is also sensitive to outliers and irrelevant features. 

Lets begin our training process, by starting our Comet ML experiment, so that all aspects of the model gets logged for comparison:

In [415]:
if COMET_FLAG:
  # Start comet experiment:
  experiment = Experiment(
    api_key = COMET_API_KEY,
    project_name = COMET_PROJECT_NAME,
    workspace= COMET_WORKSPACE
  )

  experiment.add_tag("LogisticRegression")
  experiment.set_name("LogisticRegression")

else:
  print("Experiment not logged")

Experiment not logged

We begin by initializing a Logistic Regression classifier , and fitting it to the data:

In [416]:
# Creating a Logistic Regression Classifier object:
log_reg = LogisticRegression()

# Fitting the model to our training data subset
log_reg.fit(X_train, y_train)

LogisticRegression()

To get a sense of how well this model is performing, let's test the model on the testing subset of our training data:

In [417]:
# Predict values of the testing subset
pred_log_reg = log_reg.predict(X_test)

# Let's produce a classification report of the model as is:
print(classification_report(y_test, pred_log_reg))

              precision    recall  f1-score   support

        -1.0       0.82      0.26      0.39       278
         0.0       0.62      0.38      0.47       425
         1.0       0.73      0.90      0.81      1755
         2.0       0.78      0.74      0.76       706

    accuracy                           0.73      3164
   macro avg       0.74      0.57      0.61      3164
weighted avg       0.73      0.73      0.71      3164

Form the classification report, we see that our recall is relatively low for our two least represented categories, namely `Anti climate change` and `Neutral` sentiments. Our remaining sentiments scores pretty high in all the metrics we observe. This model performs pretty well in overall predictive performance.


If interested, one can try to gauge the effects of hyperparameter tuning on the model performance. Note: For the purposes of this notebook, hyperparameter tuning will be ignored since it can be very timely to run.

In [418]:
if HYPERPARAM_TO_Tune["Logistic Regression"]:
    # Set hyper-parameters to tune 
    log_reg_hyperparameters =     {
    'penalty' : ['l1', 'l2', 'elasticnet', 'none'],
    'C' : np.logspace(-4, 4, 5),
    'solver' : ['lbfgs','newton-cg','liblinear','sag','saga'],
    'max_iter' : [100, 1000,2500]
    } 

    # Search over hyperparameter grid
    log_reg_gridsearch = GridSearchCV(LogisticRegression(), log_reg_hyperparameters, scoring='f1_weighted', cv =3, n_jobs=3, verbose=3) 

    # Fit grid of models to the data
    log_reg_gridsearch.fit(X_train, y_train)
    best_params = log_reg_gridsearch.best_params_
else:
    log_reg_hyperparameters = {
    'penalty' : "default",
    'C' : "default",
    'solver' : "default",
    'max_iter' : "default"
    } 

    best_params = {
    'penalty' : 'l2',
    'C' : 1.0,
    'solver' : 'lbfgs',
    'max_iter' : 100
    }

Let us save our metrics for our model considered, in order to log it to CometML later

In [419]:
if HYPERPARAM_TO_Tune["Logistic Regression"]:
    # Get best predictor:
    best_log_reg = log_reg_gridsearch.best_estimator_

    # Use best estimator to make predictions
    pred_best_log_reg = best_log_reg.predict(X_test)

    # Print optimised classification report:
    print(classification_report(y_test, pred_best_log_reg))

    # Produce confusion matrix, f1 score, precision and recall for model in order to log them to comet
    log_reg_cm = confusion_matrix(y_test, pred_best_log_reg)
    log_reg_f1 = f1_score(y_test, pred_best_log_reg, average="weighted") # average only necessary if model nly deals in binary classification
    log_reg_precision = precision_score(y_test, pred_best_log_reg, average='weighted')
    log_reg_recall = recall_score(y_test, pred_best_log_reg, average="weighted")

else:
    log_reg_cm = confusion_matrix(y_test, pred_log_reg)
    log_reg_f1 = f1_score(y_test, pred_log_reg, average="weighted") # average only necessary if model nly deals in binary classification
    log_reg_precision = precision_score(y_test, pred_log_reg, average='weighted')
    log_reg_recall = recall_score(y_test, pred_log_reg, average="weighted")


Next, we log the metrics calculated above to use within comet:

In [420]:
# Create logging info

# Add all relevant info pertaining to your model here
log_reg_params = {"random_state": RAND_STATE, # DO not remove this one
          "model_type": "log_reg",
          "scaler": "no scaling", # DO not remove this one
          "param_grid": str(log_reg_hyperparameters),
          "best_param": str(best_params),
          "text_feature_count": str(MAX_TEXT_FEATURES), # DO not remove this one
          "vectorizer": VECTORIZER_TO_USE, # DO not remove this one
          "train_test_split": str(TRAIN_TEST_SPLIT_VAR), # DO not remove this one
          "Resample": str(RESAMPLE)
          }
log_reg_metrics = {"f1": log_reg_f1,
           "recall": log_reg_recall,
           "precision": log_reg_precision,
           "confusion_matrix": log_reg_cm
           }

if COMET_FLAG:
    # Log all important info
    experiment.log_parameters(log_reg_params)
    experiment.log_metrics(log_reg_metrics)
    experiment.log_confusion_matrix(matrix=log_reg_cm)

In order to produce a submission to Kaggle, we retrain the model (using the optimised hyperparameters if applicable) on the complete set of training data:

In [421]:
# Initiate final model
final_log_reg = LogisticRegression( **best_params) # Use determined hyperparameters here

# Train on all available data
final_log_reg.fit(x_train_dataset, y_train_dataset)

# Generate predictions for the evaluation dataset
log_reg_kaggle_predictions = final_log_reg.predict(x_evaluate_dataset)

Finally, we produce a csv of the predictions to submit to Kaggle

In [422]:
# Produce kaggle submission csv 

# Make submissions into dataframe
df_log_reg_kaggle_predictions = pd.DataFrame(log_reg_kaggle_predictions, columns=["sentiment"])

# Convert sentiment to integer
df_log_reg_kaggle_predictions['sentiment'] = df_log_reg_kaggle_predictions['sentiment'].astype('int')

# Match submissions to tweet id's
df_log_reg_kaggle_submission = pd.concat([df_tweetid_for_submission.reset_index(drop=True), df_log_reg_kaggle_predictions.reset_index(drop=True)], axis=1,)


#Save submission as csv
df_log_reg_kaggle_submission.to_csv('LogisticRegressionPredictions.csv', index=False)

df_log_reg_kaggle_submission

       tweetid  sentiment
0       169760          1
1        35326          1
2       224985          1
3       476263          1
4       872928          1
...        ...        ...
10541   895714          1
10542   875167          1
10543    78329          2
10544   867455          0
10545   470892          1

[10546 rows x 2 columns]

Lastly, since we are done with the model, we remember to end the experiment and write logs to Comet ML

In [423]:
if COMET_FLAG:
    # Ending the experiment
    experiment.end()
else:
    print("Completed Logistic Regression: Experiment not logged")

Completed Logistic Regression: Experiment not logged

Saving the model for later use:

In [424]:
# Choose a filename to save model as
model_save_path = './Models/LogisticRegression.pkl'

# Save model to specified filename
with open(model_save_path, 'wb') as file:
    pickle.dump(final_log_reg,file)

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

To evaluate our model performance, we will make use of the `f1-score` as a metric...

<a id="seven"></a>
## 7. Conclusion
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>



---

In conclusion, our best performing model for predicting sentiment...

#### Future Considerations: